<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>
    <!-- Page Content -->
    <main class="container">
      <% include ./partials/messages.ejs %>

      <img src="/api/image" class="img-fluid" alt="Responsive image" />

      <!-- Page Features -->
      <section class="row text-center"></section>
      <!-- /.row -->
    </main>
    <!-- /.container -->
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
